---
import Clean from "@/assets/Clean.astro";
import Cut from "@/assets/Cut.astro";
import Design from "@/assets/Design.astro";
import Install from "@/assets/Install.astro";
import Mantain from "@/assets/Mantain.astro";
import { services } from "@/lib/services";
---

<section
  id="servicios"
  class="mt-24 flex w-full flex-col items-center justify-center px-4 lg:mt-48"
>
  <h2
    class="w-full max-w-7xl font-serif text-5xl font-[350] text-garden-600 lg:text-6xl"
  >
    Nuestros servicios
  </h2>

  <nav
    id="service-nav"
    class="mt-12 flex w-full justify-center border-y border-smoke-100 py-4"
  >
    <ul
      class="flex w-full max-w-7xl flex-wrap justify-between font-semibold text-smoke-400"
    >
      <li class="active w-full lg:flex-grow lg:basis-0 lg:border-r">
        <a
          href="/instalaciones"
          class="flex w-full items-center justify-between gap-3 p-2 text-lg transition-all lg:justify-center lg:text-center lg:hover:scale-110"
        >
          Instalaciones
          <Install class="size-6" />
        </a>
      </li>

      <li class="w-full lg:flex-grow lg:basis-0 lg:border-r">
        <a
          href="/diseño"
          class="flex w-full items-center justify-between gap-3 p-2 text-lg transition-all lg:justify-center lg:text-center lg:hover:scale-110"
        >
          Diseño
          <Design class="size-6" />
        </a>
      </li>

      <li class="w-full lg:flex-grow lg:basis-0 lg:border-r">
        <a
          href="/limpieza"
          class="flex w-full items-center justify-between gap-3 p-2 text-lg transition-all lg:justify-center lg:text-center lg:hover:scale-110"
        >
          Limpieza
          <Clean class="size-6" />
        </a>
      </li>

      <li class="w-full lg:flex-grow lg:basis-0 lg:border-r">
        <a
          href="/poda"
          class="flex w-full items-center justify-between gap-3 p-2 text-lg transition-all lg:justify-center lg:text-center lg:hover:scale-110"
        >
          Poda
          <Cut class="size-6" />
        </a>
      </li>

      <li class="flex-grow basis-0">
        <a
          href="/mantenimiento"
          class="flex w-full items-center justify-between gap-3 p-2 text-lg transition-all lg:justify-center lg:text-center lg:hover:scale-110"
        >
          Mantenimiento
          <Mantain class="size-6" />
        </a>
      </li>
    </ul>
  </nav>

  <ul
    id="services"
    class="hidden snap-x snap-mandatory overflow-x-auto lg:flex"
  >
    {
      services.map(({ title, slug, image1, image2, description }) => (
        <li class="flex w-full shrink-0 snap-center justify-center">
          <article class="mt-10 mb-24 grid w-full max-w-7xl grid-cols-3 gap-8">
            <img
              src={image1}
              alt={title}
              class="aspect-[3/4] w-full rounded-xl object-cover shadow-2xl shadow-black/40"
            />
            <img
              src={image2}
              alt={title}
              class="aspect-[3/4] w-full rounded-xl object-cover shadow-2xl shadow-black/40"
            />

            <div class="flex flex-col items-start gap-8 rounded-2xl bg-garden-600 p-8 text-smoke-50">
              <p class="text-lg font-medium">{description}</p>

              <a
                href={slug}
                class="rounded-full bg-smoke-50 px-6 py-2 font-semibold text-smoke-950 transition-transform hover:scale-110"
              >
                Servicio de {title.toLowerCase()}
              </a>
            </div>
          </article>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .active {
    @apply text-smoke-950;
  }

  ul {
    scrollbar-width: none;
  }
</style>

<script>
  function init_services() {
    const service_nav = document.querySelectorAll("#service-nav > ul > li");
    const services = document.querySelector("#services");
    const wW = window.innerWidth;

    if (!services) return;

    service_nav.forEach((el, ind) => {
      el.addEventListener("mouseenter", () => {
        service_nav.forEach((el) => el.classList.remove("active"));
        el.classList.add("active");

        services.scrollTo({
          left: wW * ind,
          behavior: "smooth",
        });
      });
    });
  }

  init_services();
</script>
